<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head lang="en">

<title>Spring Framework</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div class="row" layout:fragment="content">

		<h2>Witaj w Gowling Game!</h2>

		<p>
			<a href="/playGame" th:href="@{/playGame}"
				class="btn btn-large btn-success">Uruchom grę</a>
		</p>

		<table class="table table-striped">
			<thead>
			<h2>Wyniki gry:</h2>
				<tr>
					<th>ID</th>
					<th>Score</th>
					<th>Date game</th>
					<th> </th>
				</tr>
			</thead>

			<tbody>

				
					<tr th:each="game : ${gameBasicData}">

						<td th:text="${game.id}"></td>
						<td th:text="${game.score}"></td>
						<td th:text="${game.dateGame}"></td>
					  	<td>  
							<a th:href="@{|/gameDetails/${game.id}|}">Szczegóły</a>
						</td>
					</tr>


			</tbody>
		</table>
	</div>

</body>
</html>