<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head lang="en">

<title>Spring Framework</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

 <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>

<body>

	<div class= "jumbotron text-center" >

		<h2>Witaj w Gowling Game!</h2>

		<p>
			<a href="/games/add" th:href="@{/games/add}"
				class="btn btn-large btn-success">Uruchom grę</a>
		</p>
</div>
	<div class="container">
		<table class="table table-bordered">
			<thead>
			<h2>Wyniki gry:</h2>
				<tr>
					<th>
						<a href="/?sortValue=ID" th:href="@{/?sortValue=ID}" >ID</a>
					</th>
					
					<th>Score</th>
					
					<th>
						<a href="/?sortValue=TIME_GAME" th:href="@{/?sortValue=TIME_GAME}" >Date game</a>
					</th>
					<th> </th>
				</tr>
			</thead>

			<tbody>

				
					<tr th:each="game : ${gameBasicData}">

						<td th:text="${game.id}"></td>
					<!--  <td th:text="${game.score}"></td>-->	
					
					<td th:text="${game.score}>47 ? ${game.score} : 'zbyt niski wynik aby wyświetlić!'"/> 
					
						<td th:text="${game.timeGame}"></td>
					  	<td>  
							<a th:href="@{|/games/${game.id}|}">Szczegóły</a>
						</td>
					</tr>


			</tbody>
		</table>
</div>

<div th:replace="fragments/footer :: pageAutor(name = 'Damian')"></div>
</body>
</html>